[submodule "Simd"]
	path = Simd
	url = https://github.com/pmrochen/Simd.git
[submodule "half"]
	path = half
	url = https://github.com/pmrochen/half.git
[submodule "RectangleBinPack"]
	path = RectangleBinPack
	url = https://github.com/juj/RectangleBinPack.git
[submodule "libsquish"]
	path = libsquish
	url = https://github.com/svn2github/libsquish.git
[submodule "openexr"]
	path = openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "Imath"]
	path = Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
[submodule "zlib-ng"]
	path = zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	branch = stable
[submodule "bitwise-enum"]
	path = bitwise-enum
	url = https://github.com/jonesinator/bitwise-enum.git
